body{
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  height: 700px;
}

button {
  color: white;
  font-family: Arial;
  font-size: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}